{% extends "base.html.twig" %}

{% block body %}

    {% set user = app.user %}

    <div id="dynamic_content">
        {{ include('api/map.html.twig') }}
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">

        function pageLoader(route, arrayOptions) {
            $.ajax({
                url: route,
                method: "get",
                data: arrayOptions
            }).done(function (msg) {
                // console.log(msg);
                $('#dynamic_content').val('').html(msg);
            });
        }

        function stuffsFromAPI(route, verb, arrayOptions) {
            $.ajax({
                url: route,
                type: verb,
                data: JSON.stringify(arrayOptions)
            }).done(function (msg) {
               console.log(msg);
            });
        }

        $(document).ready(function() {
//            pageLoader('{{ path('app_view_byclass', { 'component' : 'map'}) }}', {});

            // get the karto vm
            {#stuffsFromAPI('{{ path('app_api_getkartovm') }}', "GET", {});#}

            // post a karto map
            {#stuffsFromAPI('{{ path('app_api_postmap') }}', "POST",#}
                    {#[#}
                        {#{#}
                            {#"karto_vm_id": 1,#}
                            {#"x_pos": 5,#}
                            {#"y_pos": 6#}
                        {#},#}
                        {#{#}
                            {#"karto_vm_id": 1,#}
                            {#"x_pos": 5,#}
                            {#"y_pos": 6#}
                        {#}#}
                    {#]#}
            {#);#}

            // put a karto map
            {#stuffsFromAPI('{{ path('app_api_putmap', { 'map_id' : 1 }) }}', "PUT",#}
                    {#[#}
                        {#{#}
                            {#"karto_vm_id": 1,#}
                            {#"x_pos": 5,#}
                            {#"y_pos": 6#}
                        {#}#}
                    {#]#}
            {#);#}

            // get a karto map
            // stuffsFromAPI('{{ path('app_api_getmapbyid', { 'map_id' : 1 }) }}', "GET", {});

        })

    </script>

{% endblock %}